<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iuh.stream">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Stream">
        <activity
            android:name=".activity.SignInPhoneNumberActivity"
            android:exported="true"
            android:parentActivityName=".activity.SignInActivity"/>
        <activity
            android:name=".activity.VerifyActivity"
            android:exported="true" />
        <activity
            android:name=".activity.RegisterPhoneNumberActivity"
            android:exported="true"
            android:parentActivityName=".activity.RegisterActivity" />
        <activity
            android:name=".activity.RegisterEmailActivity"
            android:exported="true" />
        <activity
            android:name=".activity.RegisterActivity"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".activity.SignInActivity"
            android:parentActivityName=".activity.StartActivity" />
        <activity
            android:name=".activity.StartActivity"
            android:theme="@style/Theme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>