<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.iuh.stream">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="FLAG_GRANT_READ_URI_PERMISSION"/>

    <application
        android:name=".datalocal.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Stream"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.CollectionsActivity"
            android:exported="true"
            android:label="Ảnh, file đã gửi"/>
        <activity
            android:name=".activity.PersonalOptionActivity"
            android:exported="true"
            android:label="Tùy chọn" />
        <activity
            android:name=".activity.AddMemberActivity"
            android:exported="true"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".activity.GroupOptionActivity"
            android:exported="true"
            android:label="Tùy chọn" />
        <activity
            android:name=".activity.ViewImageMessageActivity"
            android:exported="true"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".activity.SearchConversationActivity"
            android:exported="true"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".activity.CreateGroupActivity"
            android:exported="true"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".activity.SearchActivity"
            android:exported="true"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".activity.GroupChatActivity"
            android:exported="true"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".activity.ChatActivity"
            android:exported="true"
            android:theme="@style/Theme.NoActionBar" />
        <activity android:name=".imagepicker.ImageCropActivity" />
        <activity
            android:name=".imagepicker.ImageSelectActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />

        <provider
            android:name=".imagepicker.provider.ImageSelectionProvider"
            android:authorities="${applicationId}.image-selection-provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".activity.UserInfoActivity"
            android:exported="false"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".activity.FriendProfileActivity"
            android:exported="true" />
        <activity
            android:name=".activity.AddFriendActivity"
            android:exported="true"
            android:label="Thêm bạn" />
        <activity
            android:name=".activity.FriendInvitationActivity"
            android:exported="true"
            android:theme="@style/Theme.Design.Light" />
        <activity
            android:name=".activity.PhoneFriendsActivity"
            android:exported="true" />
        <activity
            android:name=".activity.SignInActivity"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".activity.StartActivity"
            android:theme="@style/Theme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".activity.RegisterActivity"
            android:theme="@style/Theme.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".service.FloatingViewService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaProjection"
            tools:targetApi="q" />
    </application>

</manifest>